*{
    margin: 0;
}
.header img{
    width: 15vw;
}
.header{
    margin-top: .2em;
    margin-left: 6vw;
}

.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: rgba(241,236,236,.4) ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    z-index: 1;
}
.nav{
    margin-right:8vw;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar ul li{
    padding: 0 35px;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    letter-spacing: .11em;
    color:#716969;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color:#716969;
}
.first{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.first_image img{
    max-width: 100%;
}
.first_content{
    margin-top: 20vw;
    max-width: 25%;
    font-family: 'Karla';
    line-height: 2em;
    letter-spacing: 1em;
    transform: translateX(35%);
}
.first h1,.second h1{
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.08em;
    color:#6B4C4C;
    font-size: 48px;
    padding-bottom: .5em;
    line-height: 1em;
    text-align: left;
}
.first p, .second p{
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 0.08em;
    font-size: 20px;
    text-align: left;
}
.second{
    display: flex;
    flex-direction: row;
}
.second_image img{
    max-width: 100%;
}
.second_content{
    margin-top: 6em;
    max-width: 30%;
    font-family: 'Karla';
    line-height: 2em;
    letter-spacing: 1em;
    transform: translateX(-20%);
}
.third img{
    max-width: 750px;
    align-self: center;
}
.third{
    margin-top: 250px;
}




