.team_container{
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    width: 100%;
 }
.team_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    transform:translateX(25%)
}
.team_h1{
    background: #F2F2F2;
    border-radius: .5vw;
    padding-top:.3em;
    padding-bottom:.3em;
    padding:0em 1em;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .2em;
}
.pics_container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.pics_container >div:hover{
    transform:scale(1.1);
    transition: .5s;
}
.pics_container >div{
    transition:.5s;
}
.pics_container img{
    width: 15vw;
    padding:0vw  1vw;
    border-radius: 20%;
}
.photo{
    border-radius: 5px;
}
.pics_container h1{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 1vh;
}
.pics_container p{
    font-weight: 300;
}
.team_image img{
    height: 100vh;
}
.team_image{
    margin-left: -25vw;
    z-index: -1;
}