.team_container{
    display: flex;
    justify-content: center;
}
.team_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    background-color: #D4EDBB;
    width: 100%;
    height: 66vh;
    padding-top: 200px;
}
.team_h1{
    background-color: white;
    border-radius: .5vw;
    padding-top:.2em;
    padding-bottom:.2em;
    padding-inline: 1em;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .2em;
}
.pics_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.pics_container img{
    width: 15vw;
    padding-inline: 1vw;
    border-radius: 20%;
}
.photo{
    border-radius: 5px;
}
.pics_container h1{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 1vh;
}
.pics_container p{
    font-weight: 300;
}