.team_container{
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    width: 100%;
 }
.team_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    transform:translateX(25%)
}
.team_h1{
    background-color: white;
    border-radius: .5vw;
    padding-top:.2em;
    padding-bottom:.2em;
    padding-inline: 1em;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: .2em;
}
.pics_container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.pics_container img{
    width: 15vw;
    padding-inline: 1vw;
    border-radius: 20%;
}
.photo{
    border-radius: 5px;
}
.pics_container h1{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 1vh;
}
.pics_container p{
    font-weight: 300;
}
.team_image img{
    height: 100vh;
}
.team_image{
    transform:translateX(-41%);
    z-index: -1;
}